<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Happy birthday</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="static/birthday-cake-xxl.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>

    <div class="top_quote">
        <p class="top_quote_text">"You are like a large tree that gives shade and fruits ,shade and flower to the whole family"</p>
    </div>

    <div class="container">
        <div class="image_div">
            <img src="static/dad.jpg" alt="">
        </div>

        <div id="scroll-container">
            <div id="scroll-text">
                <h1>HAPPY BIRTHDAY DADDY</h1>
            </div>
        </div>
    </div>
    
    <div class="date_div">
        <p class="date_text">
            21.05.2024
        </p>
        <button onclick="window.location.href = '/wish'" class="wishes_button">Wishes</button>
    </div>

</body>
</html>
